{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content%}
    <!-- <h3 style="text-align: center;">Political Articles</h3>
    <ul>
        {{ macro.displayArticleList(political)}}
    </ul> -->
    <div  style="max-width:100rem; margin-left:auto; margin-right:auto; overflow: hidden; padding-top:50px; z-index: 0;">
        <h2 style="font-weight: bold;">Health Articles</h2>
        <ul>
            {{ macro.displayArticleList(health)}}
        </ul>
        <h2 style="font-weight: bold;">Technology Articles</h2>
        <ul>
            {{ macro.displayArticleList(technology)}}
        </ul>
        <h2 style="font-weight: bold;">Business Articles</h2>
        <ul>
            {{ macro.displayArticleList(business)}}
        </ul>
    </div>
{% endblock %}
