{% macro displayArticleList(article_list) %}
{% for article in article_list %}
<div>
    <img src="{{article.urlToImage}}" alt="" style="box-shadow: 10px 10px 7px 12px lightblue;">
    <div class="card-body">
        <h3 class="card-title">{{article.title}}</h3>
        <p class="card-text">{{article.description}}</p>
        <p>Author-{{article.author}}</p>
        <p class="card-text text-primary">{{article.publishedAt}}</p>
        <a href="{{article.url}}" class="card-text text-decoration-none">
            <div class="col-6 d-grid gap-2 " style="padding-bottom:20px">
                <button class="btn btn-outline-success btn-lg" type="button">Go to Article</button>
            </div>
        </a>
    </div>
</div>


{% endfor %}
{% endmacro %}