<div class="navbar navbar-inverse" role="navigation" style="position: fixed; top:0; height: 32px; width: 100%; box-shadow: 8px;opacity: 0.75; backdrop-filter: blur(8px); z-index: 1;">
    <div class="container-fluid" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="color: white; font-size: large;"> Awesome News </a>
            <nav class="nav navbar-nav" style="display: flex;align-items: center;" >
                <a href="/" class="navbar-brand" style="color: white; font-size: large;">Home</a>
                <div class="navbar-brand nav-item dropdown">
                    <a  class="nav-link dropdown-toggle" style="display:flex; align-items:center;color: white; font-size: large;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                      Sources
                      <svg xmlns="http://www.w3.org/2000/svg" style="height: 20px; width: 20px; margin-left:4px; margin-right:-2px;" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                      </svg>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="https://www.bbc.com/news">BBC</a> <br>
                      <a class="dropdown-item" href="https://www.aljazeera.com">ALJAZEERA</a> <br>
                      <a class="dropdown-item" href="https://edition.cnn.com">CNN</a> <br>
                      <a class="dropdown-item" href="https://news.sky.com">SKY NEWS</a> <br>
                      <a class="dropdown-item" href="https://www.euronews.com">EURO-NEWS</a> <br>
                      <a class="dropdown-item" href="https://www.ndtv.com">NDTV News</a> <br>
                      <a class="dropdown-item" href="https://nation.africa/kenya">NATION AFRICA</a> <br>
                    </div>
                </div>
                <a class="navbar-brand" style="color: white; font-size: large;" href="/{{'category/health'}}">Health</a>
                <a class="navbar-brand" style="color: white; font-size: large;" href="/{{'category/business'}}">Business</a>
                <a class="navbar-brand" style="color: white; font-size: large;" href="/{{'category/technology'}}">Technology</a>
            </nav>
        </div>
        <div class="navbar-header navbar-collapse collapse" >
        </div>

    </div>
</div>