<div class="navbar navbar-inverse" role="navigation" style="position: fixed; top:0; height: 32px; width: 100%; box-shadow: 8px;opacity: 0.75; backdrop-filter: blur(8px); z-index: 1;">
    <div class="container-fluid" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="color: white; font-size: large;"> Awesome News </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" >
                <li><a href="/" style="color: white; font-size: large;">Home</a></li>
                <li class="nav-item dropdown">
                    <a  class="nav-link dropdown-toggle" style="color: white; font-size: large;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                      Sources
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="https://www.bbc.com/news">BBC</a> <br>
                      <a class="dropdown-item" href="https://www.aljazeera.com">ALJAZEERA</a> <br>
                      <a class="dropdown-item" href="https://edition.cnn.com">CNN</a> <br>
                      <a class="dropdown-item" href="https://news.sky.com">SKY NEWS</a> <br>
                      <a class="dropdown-item" href="https://www.euronews.com">EURO-NEWS</a> <br>
                      <a class="dropdown-item" href="https://www.ndtv.com">NDTV News</a> <br>
                    </div>
                </li>
                <!-- <li><a href="https://www.bbc.com/news" style="color: white;">BBC</a></li> -->
                    <button style="margin-top: 3%; background-color: aquamarine;outline: none; padding: 6px 25px; border-radius: 25px;"><a style="color: white; font-size: large;" href="/{{'category/health'}}">Health</a></button>
                    <button style="margin-top: 3%;background-color: #56af4c;outline: none; padding: 6px 25px; border-radius: 25px;"><a style="color: white; font-size: large;" href="/{{'category/business'}}">Business</a></button>
                    <button style="margin-top: 3%;background-color: #56af4c;outline: none; padding: 6px 25px; border-radius: 25px;"><a style="color: white; font-size: large;" href="/{{'category/technology'}}">Technology</a></button>
                    <!-- <li><a href="https://www.bbc.com/news" style="color: white;">BBC</a></li> -->
            </ul>
        </div>

    </div>
</div>